		<div id="the-plan" class="w-section section">
		<div class="w-container container">
			<h2 class="section-heading"><span class="heading-underline">The Plan:</span></h2>
			<div class="w-row plan-row">
				<div class="w-col w-col-3 summary-column">
					<a class="summary-wrapper" href="the-plan#workshops">
						<h3 class="summary-heading"><span class="feature-heading-big">Workshops </span>2 days</h3>
						<p class="sumary-desc"><strong>16 hours</strong> of leveled workshops
							<br><strong>8 hours</strong> each <br> Learn more...</p>
					</a>
				</div>
				<div class="w-col w-col-3 summary-column">
					<a class="summary-wrapper" href="the-plan#parties">
						<h3 class="summary-heading"><span class="feature-heading-big">Parties </span>3 of them!</h3>
						<p class="sumary-desc">Including a <strong>Medieval Themed Party.</strong> Get the details...
						</p>
					</a>
				</div>
				<div class="w-col w-col-3 summary-column">
					<a class="summary-wrapper" href="the-plan#jnj-and-competitions">
						<h3 class="summary-heading"><span class="feature-heading-big">JnJ + Themed </span>competitions</h3>
						<p class="sumary-desc"><strong>This is going to be a lot of fun!!</strong> See the competition plan...</p>
					</a>
				</div>
				<div class="w-col w-col-3 summary-column">
					<a class="summary-wrapper" href="the-plan#marketplace">
						<h3 class="summary-heading"><span class="feature-heading-big">Marketplace</span> &nbsp;</h3>
						<p class="sumary-desc"><strong>Bring all your dancing shoes!</strong> Click here for details...</p>
					</a>
				</div>
			</div>
			<h3 class="other-fun-surprises"><span class="white-hack">other</span> fun surprises</h3>
		</div>
	</div>