<div class="w-section section ticketInstructions">
  <div class="w-container container">
    <h2>{{ header.title }}</h2>
    {{ content }}
  </div>
  <!-- /.w-container .container  -->
</div>
<!-- /.w-section section -->
