	{% embed 'markup/section.html.twig' with {sectionClass : 'join-us'} %}
	  {% block sectionContent %}
			<h2 class="join-us-heading">{{ page.title }}</h2>
			{{ page.content }}
      <a href="{{ header.button_url }}" target="_blank" class="w-button button">{{ header.button_text }}</a>
	  {% endblock %}
	{% endembed %}
