	<div id="join-us" class="w-section section join-us">
		<div class="w-container">
			<h2 class="join-us-heading">Join us</h2>
			<h3 class="join-us-subheading">and let&#39;s make this event <br>a <strong>success story</strong> together!</h3><a href="https://www.facebook.com/events/1745247759041067/" target="_blank" class="w-button button">Facebook Event Page &gt;</a>
		</div>
	</div>