	<div id="pricing" class="w-section section red">
		<div class="w-container">
			<div class="w-row">
				<div class="w-col w-col-6 pricing-column-1">
					<h2 class="entry-h2">only 55 EUR</h2>
					<h3 class="h3-white">Early Bird Price until &nbsp;<span class="early-bird-date">July 31st</span></h3>
				</div>
				<div class="w-col w-col-6 pricing-column-2">
					<h2 class="entry-h2">free entry</h2>
					<h3 class="h3-white">FOR <span class="early-bird-date">Advanced+</span> WSDC Dancers</h3>
				</div>
			</div>
			<!-- /.row -->

			<div class="buyTicketsWrapper">
				<a class="button buyTicketsLink" href="/order.html">
					<span class="ticketButtonText"><span class="mainTicketText">Buy Tickets on Eventbrite</span> <span class="securePayment">secured by Eventbrite and PayPal</span></span>
					<span class="ticketLeft"></span>
					<span class="ticketRight"></span>
				</a>
				<p class="securityLinksWrapper">learn about <a href="https://www.eventbrite.com/security/" target="_blank">Eventbrite security</a> and <a href="https://www.paypal.com/ge/webapps/mpp/paypal-safety-and-security" target="_blank">PayPal security</a></p>
			</div>
			<!-- /.buyTicketsWrapper -->
			
		</div>
		<!-- /.w-container -->
	</div>
	<!-- /#pricing .w-section .section .red -->