<form class="well form-horizontal" data-disable="false" action="https://citadelswing.foxycart.com/cart" method="post"  id="fcform" data-toggle="validator">
<fieldset>
<!-- Form Name -->
<!-- <legend>Workshop Passes</legend> -->

<h3 class="redBg formSectionHeader">Owner Info</h3>
      <p>PLEASE NOTE: You will be able to buy tickets for multiple people in one transaction, but you need to add them to the cart for one person at a time.</p>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Ticket Holder Name</label>
  <div class="col-md-6 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input name="owner||c7a7b7e6302eea0629a6618cd53a1ee1c24a511acb1d60a592bf8abb6584461a||open" placeholder="Full Name" class="form-control input-lg"  type="text" id="visibleOwnerField" required>
      <input type="text" disabled name="3:owner||79fa4dfbc0dc90f2996e9ea6d09eadfbc2b528affda32355cff5d135211f22d4||open" placeholder="Full Name" class="form-control input-lg inVisibleOwnerField" id="partyPassOwnerField" style="display:none;" required />
    </div>
  </div>
  <div class="col-md-6 col-md-offset-4 help-block with-errors"></div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">WSDC ID</label>
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-star-empty"></i></span>
  <input  name="WSDC||47ae9c99da5c213e554321fd4b2f351d32fe507feba1ec3aa1eb5ae44d141d15||open" placeholder="if it exists" class="form-control input-lg"  type="number">
    </div>
  </div>
</div>


    <h3 class="redBg formSectionHeader">Choose your path:</h3>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#fullPass" id="fullPassLink">1. Full Pass (EUR 95)  - includes party pass</a>
              </h4>
          </div>
          <div id="fullPass" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <input type="checkbox" id="fake" class="pull-right" required checked disabled/>
                  </div>
                    <div class="col-md-9">
                      <h4>Early Bird workshop Pass (EUR 95)</h4>
                      <p>Offer Expires on April 16th</p>
                    </div>
                </div>

                    <input type="hidden" disabled name="name||403979ef7bd78e80421708b4720a6ad304d0404e235e7d7bf82b5b09a9cca4b2" value="Full Pass - Early Bird" />
                    <input type="hidden" disabled name="price||345b8899159e9d807a3abee58252eeedbc616221639b3138a6830c4d57455529" value="95" />
                    <input type="hidden" disabled name="code||2ee661a1d32649fe41f7460b40d66711fae0398159a75778fb0ed383eba8d019" value="CS17FP-ERL" />

                    <div class="form-group row">
                      <label class="col-md-4 control-label">Workshop Role</label>
                        <div class="col-md-4 selectContainer">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="role" required disabled class="form-control input-lg selectpicker"  data-required-error="Please select a role." id="visibleRoleSelect" disabled>
                              <option value="" default>please select</option>
                              <option value="leader{c+-RL}||ddac57f73e71a7cb523f3fc040c3baf060228bf61cff87ddf32882733bd7916d">Leader</option>
                              <option value="follower{c+-RF}||9f438fb46c65f1f45eb349195b2a8a20e6762f5b3fb3d6d6201db83d0edc953c">Follower</option>
                            </select>
                          </div>
                        </div>
                      <div class="col-md-4 help-block with-errors"></div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-4 control-label">Workshop Level</label>
                        <div class="col-md-4 selectContainer">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                              <select name="level" required disabled class="form-control input-lg selectpicker"  data-required-error="Please select a level.">
                                <option value="" default>please select</option>
                                <option value="2{c+-L2}||1852a1e242b6b9574824f7a449d45df6195f9aa3e4e89f4603e664c8878685d3">Level 2</option>
                                <option value="3{c+-L3}||58bc4536ed81bb5736d274b852d1fb173c612c184fc390893c5e7ad817a5da85">Level 3</option>
                                <option value="4{c+-L4}||9a506ce39e32903c052e9e9d6c153ee25f69b6b613d43fc22cab8918f9fec215">Level 4</option>
                            </select>
                          </div>
                        </div>
                      <div class="col-md-4 help-block with-errors"></div>
                    </div>

                    <!-- radio checks -->
                    <div class="row">
                      <input type="hidden" name="2:owner||34116096e70a3168fdfd2dc6816b50e461d0661fae97e3d3345af7449e9d0b5a||open" class="inVisibleOwnerField" value=""/>
                      <input type="hidden" disabled name="2:name||0aa884e9785777843d1accd5390c5a563472f87f4581feab22955def44f16218" value="Styling Workshop" />
                      <input type="hidden" disabled name="2:price||33a350ac377a30a9fb72f4f15f9918a43a0b8360540974f17175466aa17021dd" value="35" />
                      <input type="hidden" disabled name="2:code||9484e19826f79a88c33f41c761901dbe94d43e5abe7d859202d126b7819d8e5e" value="CS17STYLE" />
                      <select name="2:role" disabled class="form-control input-lg selectpicker" required data-required-error="Please select a role." id="inVisibleRoleSelect" style="display:none;" disabled>
                        <option value="" default>please select</option>
                        <option value="leader{c+-RL}||32ca44566b9b4e726da064017bb6233dcf90b4f7ee6d5de46b80d4e1f2b236b5">Leader</option>
                        <option value="follower{c+-RF}||d34a532470dd986d199f7a4227467123d0514d6fd2a168d47afbab9d93cd08b9">Follower</option>
                      </select>
                      

                      <div class="col-xs-3">
                        <input type="hidden" name="2:quantity||429d5905ad7729b03de00c95cfeca851a8354a6b6963e29662d5161512c06d23" value="0"/>
                        <input type="checkbox" name="2:quantity||ff3434bd90d8c57bd10f092ce926d9741b37d252671f8ecbb2769643e2bc271e" value="1" class="pull-right"/>
                      </div>
                      <div class="col-xs-9">
                        <h4>Extra Styling Workshop (EUR 35)</h4>
                        <p>Get your groove on :)</p>
                      </div>
                    </div>
                    <!-- /.row -->

                    <div class="row jnjToggle">
                      <input type="hidden" name="4:owner||da5cca2482b5f7b043d21cc4d9d99aab683a7a44c5164c0c49f6728e6b8975aa||open" class="inVisibleOwnerField" value=""/>
                      
                      <input type="hidden" disabled name="4:name||80aa477a335afaa63be40e24482b35e96d081f8eb96fe1631aa822d2dcb8faaf" value="JnJ Competition" />
                      <input type="hidden" disabled name="4:price||3c1b0b78570b72b82c801525998e3c2c4dbaea5deb3a632c8ca4a5f5fc7f9c73" value="10" />
                      <input type="hidden" disabled name="4:code||97bc9d04427757a8e2b811e77fd940e29bccd8ae42c255d6d265e4debc8c1e39" value="CS17JNJ" />

                      <div class="col-xs-3">
                        <input type="hidden" name="4:quantity||3a3c6e5659a23c54a199a7aa847c20aded401a3bc2e529414c2547b3942aaaa8" value="0"/>
                        <input type="checkbox" name="4:quantity||a736ad6a9ac2fff3625f348b45b10e6f737297414286e489a9253b73c29d802e" value="1" class="pull-right jnjOption"/>
                      </div>
                      <div class="col-xs-9">
                        <h4>Jack&amp;Jill Competition (EUR 35)</h4>
                        <p>Get WSDC Points</p>
                      </div>
                    </div>
                    <!-- /.row -->

                    <div class="form-group row jnjDetails">
                      <label class="col-md-4 control-label">JnJ Role</label>
                        <div class="col-md-4 selectContainer">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="4:role" disabled class="form-control input-lg selectpicker"  data-required-error="Please select a role." id="visibleRoleSelect" disabled>
                              <option value="" default>please select</option>
                              <option value="leader{c+-RL}||8308d1cf977d4be3101042c1509785df95cc9a9b8fcf5882aa9d6a9d4add1c85">Leader</option>
                              <option value="follower{c+-RF}||9f420e4289e4d3e572b00d977bf18cef79e2d8fe518a602df0ad847806373317">Follower</option>
                            </select>
                          </div>
                        </div>
                      <div class="col-md-4 help-block with-errors"></div>
                    </div>

                    <div class="form-group row jnjDetails">
                      <label class="col-md-4 control-label">JnJ Level</label>
                        <div class="col-md-4 selectContainer">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                              <select name="4:level" disabled class="form-control input-lg selectpicker"  data-required-error="Please select a level.">
                                <option value="" default>please select</option>
                                <option value="Newcomer{c+-NEW}||dc4bd5b0dd8c6d3fab3239fb456cdfbcf57d22e73354ee22405c2bbf215ae293">Newcomer</option>
                                <option value="Novice{c+-NOV}||11ee9f13a2ca02a8ac8cbeaee4ba33e21797670d41a30e334681920fadfba853">Novice</option>
                                <option value="Intermediate{c+-INT||c6e3573a87374fe3c46df85fa9acf3224307d63a24228a4bc2408ef4bd414eb7">Intermediate</option>
                                <option value="Advanced{c+-ADV}||42fdc7a48fd00373519d5ba79eb22bfe1ad6cc568fed41c04d35fc7782695795">Advanced</option>
                            </select>
                          </div>
                        </div>
                      <div class="col-md-4 help-block with-errors"></div>
                    </div>


                </div>
                <!-- /.row -->
              </div>
          </div>
      

      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#partyPass" id="partyPassLink">2. Party Pass Only (EUR 80)</a>
              </h4>
          </div>
          <div id="partyPass" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <input type="checkbox" id="fake" class="pull-right" required checked disabled/>
                  </div>
                    <div class="col-md-9">
                      <h4>Early Bird workshop Pass (EUR 80)</h4>
                      <p>Three Awesome Parties await you.</p>
                    </div>

                    <input type="hidden" disabled name="3:name||2e568039bce49aa9bbccedf8ffb7dde2b9d0aa9cca41aef01c92e9f1cd7a942e" value="Party Pass" />
                    <input type="hidden" disabled name="3:price||8073ef215b05780311901be2f232e2b9368a8f9c91cc812ee6be9f2a7989a019" value="80" />
                    <input type="hidden" disabled name="3:code||e9d6c2930c8b0d7a34964b0327efef7b6eb3b37825dafc0afe6bc5169c2b41e5" value="CS17PARTY" />


                </div>
                <!-- /.row -->

                <div class="row jnjToggle">
                  <input type="hidden" name="5:owner||da5cca2482b5f7b043d21cc4d9d99aab683a7a44c5164c0c49f6728e6b8975aa||open" class="inVisibleOwnerField" value=""/>
                  
                  <input type="hidden" disabled name="5:name||80aa477a335afaa63be40e24482b35e96d081f8eb96fe1631aa822d2dcb8faaf" value="JnJ Competition" />
                  <input type="hidden" disabled name="5:price||3c1b0b78570b72b82c801525998e3c2c4dbaea5deb3a632c8ca4a5f5fc7f9c73" value="10" />
                  <input type="hidden" disabled name="5:code||97bc9d04427757a8e2b811e77fd940e29bccd8ae42c255d6d265e4debc8c1e39" value="CS17JNJ" />

                  <div class="col-xs-3">
                    <input type="hidden" name="5:quantity||3a3c6e5659a23c54a199a7aa847c20aded401a3bc2e529414c2547b3942aaaa8" value="0"/>
                    <input type="checkbox" name="5:quantity||a736ad6a9ac2fff3625f348b45b10e6f737297414286e489a9253b73c29d802e" value="1" class="pull-right jnjOption"/>
                  </div>
                  <div class="col-xs-9">
                    <h4>Jack&amp;Jill Competition (EUR 35)</h4>
                    <p>Get WSDC Points</p>
                  </div>
                </div>
                <!-- /.row -->

                <div class="form-group row jnjDetails">
                  <label class="col-md-4 control-label">JnJ Role</label>
                    <div class="col-md-4 selectContainer">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="5:role" disabled class="form-control input-lg selectpicker"  data-required-error="Please select a role." id="visibleRoleSelect" disabled>
                          <option value="" default>please select</option>
                          <option value="leader{c+-RL}||8308d1cf977d4be3101042c1509785df95cc9a9b8fcf5882aa9d6a9d4add1c85">Leader</option>
                          <option value="follower{c+-RF}||9f420e4289e4d3e572b00d977bf18cef79e2d8fe518a602df0ad847806373317">Follower</option>
                        </select>
                      </div>
                    </div>
                  <div class="col-md-4 help-block with-errors"></div>
                </div>

                <div class="form-group row jnjDetails">
                  <label class="col-md-4 control-label">JnJ Level</label>
                    <div class="col-md-4 selectContainer">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                          <select name="5:level" disabled class="form-control input-lg selectpicker"  data-required-error="Please select a level.">
                            <option value="" default>please select</option>
                            <option value="Newcomer{c+-NEW}||dc4bd5b0dd8c6d3fab3239fb456cdfbcf57d22e73354ee22405c2bbf215ae293">Newcomer</option>
                            <option value="Novice{c+-NOV}||11ee9f13a2ca02a8ac8cbeaee4ba33e21797670d41a30e334681920fadfba853">Novice</option>
                            <option value="Intermediate{c+-INT||c6e3573a87374fe3c46df85fa9acf3224307d63a24228a4bc2408ef4bd414eb7">Intermediate</option>
                            <option value="Advanced{c+-ADV}||42fdc7a48fd00373519d5ba79eb22bfe1ad6cc568fed41c04d35fc7782695795">Advanced</option>
                        </select>
                      </div>
                    </div>
                  <div class="col-md-4 help-block with-errors"></div>
                </div>

              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel-collapse -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.panel-group -->



<!-- Success message -->
<!-- <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div> -->

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" disabled class="btn btn-lg btn-danger" id="wrkshpFormSubmit">Add Tickets to Cart <span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
</div>

</fieldset>
</form>
