{% extends 'partials/base.html.twig' %}

{% block body %}
<div class="w-section section ticketInstructions">
  <div class="w-container container">
    {{ page.content }}
  </div>
  <!-- /.w-container .container  -->
</div>
<!-- /.w-section section -->
{% endblock %}
